
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #231f20;
}


/* styles de paragraphe par défaut */
p, li, textarea, label, input, select {
}


/* titre d'entête */
h1 {
  font-size: 88px;
}

/* titre de section */
h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/

.header-title {
  padding: 15px;
  background-color: #fcce00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}
.header-subtitle {
  padding: 15px;
  font-size: 38px;
  background-color: #ff6b00bd;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  line-height: 1;
}


.header-stripe {
  margin: 8px 0;
}

.header-stripe--red {
  height: 32px;
  background-color: #e02020bd;
}
.header-stripe--purple {
  height: 16px;
  background-color: #b620e0bd;
}
.header-stripe--blue {
  height: 8px;
  background-color: #6236ffbd;
}

.middle {
  background-color: #242021;
  padding-bottom: 597px;
}

.panel {
color: #ffffff;
font-size: 40px;
text-align: center;
padding-top: 64px;
padding-bottom: 64px;
}

.button { 
align-content: right;
border: 2px solid #fcda00;
padding: 15px;
border-radius: 15px;
font-weight: bold;
color: #fcda00;
text-decoration: none;
float: right;
 }


 .button2 { 
   align-content:right;
    border: 2px solid #ff5100;
    padding: 15px;
    border-radius:15px;
    font-weight: bold;
    color: #ff5100;
    text-decoration: none;
    float: right;
     }


     .button3, .button4 {
    align-content:right;
    border: 2px solid white;
    padding: 15px;
    border-radius:15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    float: left;
     }


.section-title {

  margin-top: 65px;
  margin-bottom: 0px;
  color: black;
  font-size: 40px;
  text-align: center;
 }

 .subtitle1, .subtitle2 { 
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px ; }

  .subtitle3 { 
margin-top:64px;
        margin-bottom: 0px;
        color: white;
        font-size: 40px;
        text-align: left;
   }


.case {
display: flex;
text-align: justify;
}

.case2 {
display: flex;
background: linear-gradient(red,transparent)left repeat;
}

.case2 p {

  color: white
}

.case3{
    
        display:flex;
        background: linear-gradient( #b318de,transparent)left repeat;
      }
.case3 p {
        color: white;
      }

 .case4 {
    
        display:flex;
        background: linear-gradient( #5d31f7,transparent)left repeat;
      }
      .box4 p {
        color: white;
      }


.grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 20px;
}

.game{
  position:relative;
}

.grid-description {
width: 280px;
height: 69px;
margin: 5px 81px 40px 30px;
font-family: Poppins;
font-size: 16px;
text-align: center;
color: #ffffff;
}

.grid-title {
width: 280px;
height: 32px;
margin: 20px 81px 40px 20px;
font-family: Poppins;
font-size: 32px;
font-weight: bold;
line-height: 1;
text-align: center;
color: #fce700;
}

.grid-content {
position: absolute;
background-color: #231F20;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
transition: opacity 300ms,
}

.grid-category {
width: 117px;
height: 20px;
margin: 20px 81px 40px 100px;
font-family: Poppins;
font-size: 14px;
text-align: center;
color: #ffffff
}

.grid-title { 
width: 280px;
height: 32px;
margin: 20px 81px 40px 20px;
font-family: Poppins;
font-size: 32px;
font-weight: bold;
line-height: 1;
text-align: center;
color: #fcda00;
}

.game:hover .grid-content {
opacity:0;
transform: translateY(10px);
transition: 800ms transform ease-in-out, 200ms opacity;
}



.colonne1 {
text-align: justify;
margin-right: 32px;
flex-basis: 0 ;
flex-grow: 1;
}

.colonne2 {
background: linear-gradient(#fce300, transparent) left repeat, url(ordinateur1.png);
justify-content: flex-end;
flex-basis: 0;
flex-grow: 1;
margin-top: 32px;
display: flex;
align-items: center;
}
  
.colonne2 img {
mix-blend-mode: darken; 

    }

.colonne3 {
background: linear-gradient(#ff7700, transparent) left repeat, url(ordinateur2.png);
justify-content: center;
display: flex;
align-items: center;
margin-right: 32px;
flex-basis: 0;
flex-grow: 1;
}
  
.colonne3 img {
 mix-blend-mode: darken;
}

.colonne4 {
text-align: justify;
margin-right: 32px;
flex-basis: 0;
flex-grow: 1;
}

.colonne5 {
text-align: justify;
margin-right: 32px;
flex-basis:0;
flex-grow:1;
}

.colonne6 img {
  mix-blend-mode: darken; 
}

.colonne6 {
margin-top: 32px;
justify-content: center;
align-items: center;
display: flex;
flex-basis: 0;
flex-grow: 1;

